
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL=

APP_PORT=3000
NODE_ENV=development #development #production #staging

API_GLOBAL_PREFIX=api
ENABLE_VERSION=true
VERSION_PREFIX=v
DEFAULT_VERSION=1
SWAGGER_DOCS_URL=docs

DB_HOST=localhost
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

APP_PORT=3000
NODE_ENV=development

AUTH_JWT_ACCESS_TOKEN_SECRET=
AUTH_JWT_ACCESS_TOKEN_EXPIRES_IN=900 # 15 menit dalam detik

AUTH_JWT_REFRESH_TOKEN_SECRET=
AUTH_JWT_REFRESH_TOKEN_EXPIRES_IN=604800 # 7 hari dalam detik

# openssl rand -base64 32   # buat ACCESS & REFRESH TOKEN SECRET

# target OTLP gRPC endpoint.
OTEL_EXPORTER_OTLP_ENDPOINT="http://otel-collector:4317"

# set to "true" for insecure connection
OTEL_EXPORTER_OTLP_INSECURE="true"

# comma-separated key=value pairs for OTLP headers (e.g., "key1=value1,key2=value2"). usually not needed for dev
OTEL_EXPORTER_OTLP_HEADERS=""

# -- OpenTelemetry Trace Sampling Configuration

# OTEL_TRACES_SAMPLER: configures the trace sampler.
# possible values:
#   "always_on"              - samples every trace.
#   "always_off"             - samples no traces.
#   "traceidratio"           - samples a fraction of traces based on trace ID. requires OTEL_TRACES_SAMPLER_ARG.
#   "parentbased_always_on"  - samples if the parent was sampled, otherwise always samples. (default)
#   "parentbased_always_off" - samples if the parent was sampled, otherwise never samples.
#   "parentbased_traceidratio" - samples if the parent was sampled, otherwise uses traceidratio. requires OTEL_TRACES_SAMPLER_ARG.
OTEL_TRACES_SAMPLER="parentbased_always_on"

# OTEL_TRACES_SAMPLER_ARG: argument for the trace sampler, e.g., sampling ratio.
# for "traceidratio" or "parentbased_traceidratio", this is a float between 0.0 (0%) and 1.0 (100%). default: "1.0"
OTEL_TRACES_SAMPLER_ARG="1.0"
